/*-------------------------------------------*\
    Name : Lone Starfish HTML Midterm Assignment
    Purpose : CSS page for personal version of HTML Web Page mockup 
                provided by professor Abhay Sharma
                for the class 
                MTM-6130
                Responsive Web Design
    Author : Hoi Yan Chan
    Date due : March 09, 2021
    Copyright : (c) Hoi Yan Chan, 2021

     ***NOTE*** 
     Correct/intended viewing of this page is in split screen (half-screen) mode
     in order to accurately mimic the display of the midterm example
\*-------------------------------------------*/

/* Added global cascading rules for the entire page such as font 
and general web page appearance*/
html {
    font-family: Helvetica, sans-serif;
    padding-left: 9em;
    padding-right: 9em;
    margin: -2em;
}

/* Added background colors of site */
body {
    background-color: #aad4cf;
}

article {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.5em;
    box-sizing: border-box;
}

/* Added background image to the site header */
h1 {
    color: white;
    text-align: center;
    background-image: url("lone-starfish-wide.jpg");
    padding-top: 150px;
    padding-bottom: 50px;
    margin-bottom: -0px;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: lighter;
    letter-spacing: 1px;
}

/* Nav bar color customization */
nav {
    background-color: rgba(255, 255, 255, 0.6);
}


/* - Cosmetics of nav bar table content customized and adjusted
    - Removed all but the column separator lines from table and border
*/
th {
    border : 2px solid silver;
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: 33%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    text-align: center;
}

th:last-child {
    border-right: none;
}

a{
    text-align: center;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding-left: 25px; 
}

/* Customized appearance of information sections of web page */
h2 {
    margin-top : 0.1em;
    margin-bottom: 0.4em; 
}

/* Customized appearance and properties of embedded image */
img {
    width: 27%;
    float: left;
    padding-right: 15px;
    margin-bottom: 15px;
}

/* Customized text appearance to best match mockup example */
p {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.1px;
    padding-bottom: 10px;
}

/* Customized list appearance to best match mockup example */
li {
    font-size: 12px;
    line-height: 1;
    margin-left: -25px;
    letter-spacing: -0.1px;
}

/* - Contents of table customized and adjusted to fit page 
    and match mockup example
 - Created id's for each text-input form for ease of customization */
table {
    width: 100%;
}

#facts {
    margin-bottom: -5px;
}

#contact {
    margin-bottom: 10px;
}

#surveytable {
    border: 1px solid black;
    padding: 11px;
    width: 100%;
}

label {
    font-size: 13px;
    letter-spacing: -0.1px;
}

#namelabel{    
     margin-top : 5px;
}

#yourname {
    width: 100%;
    padding: 0px 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0.1px solid gainsboro;
}

#youremail {
    width: 100%;
    padding: 0px 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0.1px solid gainsboro;
}

#message {
    width: 100%;
    padding: 2em 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0.1px solid silver;
}

#visitdiv{
    letter-spacing: -0.1px;
}

#visit {
    font-size: 15px;
}

#yesnomaybe {
    margin-bottom: -1px;
}

button {
    color: black;
    background: none;
    border: 1px solid black;
    padding: 7px 7px;
    font-size: 8px;
}

/* Customized appearance and adjusted properties of site footer to best match mockup */
footer {
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 1px;
    padding-right: 30px;
    padding-bottom: 1px;
    text-align: right;
    font-size: 12px;
}