/*-------------------------------------------*\
    Name : Final Exam Webpage Mockup Assignment
    Purpose : CSS page for personal version of Final Web Page mockup
                for the class 
                MTM-6130
                Responsive Web Design
    Author : Hoi Yan Chan
    Date due : March 09, 2021
    Copyright : (c) Hoi Yan Chan, 2021
\*-------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

/*  #c78c06 #ffe6ac #222 white */

@media screen and (min-width:760px){
	
html {
	background: white;
	font-family: 'Open Sans', sans-serif;	
	max-width: 1200px;
	justify-content:center;
	margin-left: auto;
    margin-right: auto;
}

/* styling for navbar */

.navbar .nav {
	background: black;
	padding-top: 15px;
	height: 120px;
	width: 100%;
	flex-wrap: nowrap;
}

li {
	display: inline;

}

ul {
	list-style: none;
	padding-left: 235px;
	margin-top: -20px;

}

.nav .nav_img {
	display: inline-block;
	padding-left: 45px;
	padding-right: 25px;
	margin-bottom: -40px;

}

.navbar .nav_h {
	background-color: #c78c06;
	text-decoration: none;
	padding: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	max-width: 1200px;
	color: black;

}

.navbar .nav_a {
	background-color: black;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	max-width: 1200px;
	color: #c78c06;
	text-decoration: none;

}

.navbar .nav_i {
	color: black;
	padding: 10px;
	margin-left: 15px;
	margin-top: -12px;
	position: absolute;
	border: 2px solid #c78c06
}

.navbar .nav_m {
	background-color: black;
	margin-top: -12px;
	margin-left: 192px;
	margin-bottom: 10px;
	padding-top: 7px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom: 3px;
	color: #c78c06;
	border: 2px solid #c78c06;
	position: absolute;
}


/* styling for banner */

.b1_i{
	position: absolute;
	left:0px;
	width: 100%;
	z-index: -1;
	margin-top: -100px;
}

.b1 {
	background-image: url('../../images/main-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
	height: 500px;
}

.transbox {
	background-color: rgba(0,0,0, 0.6) ;

	margin-left: 80px;
	margin-right: 80px;
	height: 100%;
}


.b1 h1 {
color: white;
font-size: 71px;
font-weight: bolder;
padding-top: 50px;
padding-left:15px;
line-height: 1.3;
}

.b1_p {
color: white;
font-size: 12px;
line-height: 1.5;
padding: 15px;
}

.banner_button {
background-color: #c78c06;
border: 1px solid #c78c06;
color: black;
padding: 25px 30px;
text-align: center;
font-size: 18px;
margin-left: 10px;
position: absolute;
bottom: 540px;
}



/* styling for section 1 */
/* ABOUT US */
.section_1 {
background: #ffe6ac;
padding: 10px;
}

.s1_h2 {
font-size: 40px;
font-weight: bolder;
padding-left: 15px;
padding-top: 20px;
padding-bottom: 15px;
}

.s1_img {
width: 100%;
height: 100%;
}

.s1_p {
font-size: 12px;
line-height: 1.5;
padding: 15px;
}

/* Grid s1 */
.field_1 {
	display: flex;
	flex-wrap: wrap;
	margin-left: 80px;
	margin-right: 80px;
} 

.field_1 .block:nth-child(1) {
	width: calc(50%);
	order: 1;
	background: white;

  }
  .field_1 .block:nth-child(2) {
	width: calc(50%);
	height: 100%;
	order: 2 ;
  }

/* styling for section 2 */
/* OUR SERVICES */
.section_2 {
background: white;
margin-left: 80px;
margin-right: 80px;
}

.s2_h2 {
font-size: 40px;
font-weight: bolder;
padding-left: 5px;
padding-top: 40px;
}

.s2_img {
width: 100%;
height: 250px;
}

.s2_img_1 {
	width: 100%;
	height: 400px;
	}

.s2_button {
background-color: #222;
border: none;
color: white;
padding: 25px;
text-align: center;
display: block;
font-size: 16px;
margin: 10px;
width: 95%;
}

.section_2 i {
padding-left: 10px;
}

.section_2 .block {
background-color: #ffe6ac;
margin: 5px;
}

.section_2 .s2_h2 {
background-color: white;

}

.section_2 h3 {
font-size: 25px;
font-weight: bold;
padding-left: 15px;
padding-top: 25px;
padding-bottom: 25px;
}

.s2_p {
font-size: 12px;
line-height: 1.5;
padding: 5px;
}

.s2_b {
	text-align: center;
	padding-left: 7px;
}

.section_2 .b {
background-color: black;
}

/* GRID S2 */

.field_2 {
	display: grid;
	grid-template-columns: repeat(6,175px) ;
	grid-template-rows:repeat (3)
} 

.field_2 .block:nth-child(1) {
	grid-column: 1 / span 6;
	grid-row: 1 / span 1;
  }
  .field_2 .block:nth-child(2) {
	grid-column: 1 / span 3;
	grid-row: 2 / span 1;

  }
  .field_2 .block:nth-child(3) {
	grid-column: 4 / span 3;
	grid-row: 2 / span 1;


  }
  .field_2 .block:nth-child(4) {
	grid-column: 1 / span 2;
	grid-row: 3 / span 1;


  }
  .field_2 .block:nth-child(5) {
	grid-column: 3 / span 2;
	grid-row: 3 / span 1;
  }

  .field_2 .block:nth-child(6) {
	grid-column: 5 / span 2;
	grid-row: 3 / span 1;

  }


/* styling for section 3 */
/* OUR VISION */
	.section_3{
		background-image: url('../../images/vision.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding-left: 80px;
	padding-right: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	}

.s3_h3 {
font-size: 25px;
font-weight: bolder;
padding-left: 15px;
padding-top: 25px;
padding-bottom: 25px;
color: white;
}

.s3_p {
font-size: 12px;
line-height: 1.5;
padding: 15px;
color: white;
}

.s3_i{
position: absolute;
height: 300px;
	max-width: 1200px;
z-index: -1;
}

.s3_button {
background-color: #222;
border: 2px solid white;
color: white;
padding: 25px 30px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 10px;
width: 100;

}



/* styling for section 4 */
/* OUR TEAM */
.section_4 {
background: white;
margin-top: 30px;
margin-left: 80px;
margin-right: 80px;
}

.s4_h2 {
font-size: 40px;
font-weight: bolder;
padding-left: 5px;
padding-bottom: 15px;
}

.s4_img {
width: 100%;
max-width: 1200px;
}

.s4_hr {
background-color: #c78c06;
height: 1.4px;
border-width: 0;
}

.section_4 .s4_txt {
background: #ffe6ac;
margin-bottom: 10px;
padding: 10px;
}

.section_4 h3 {
font-size: 25px;
font-weight: bold;
padding-left: 5px;
padding-top: 10px;
padding-bottom: 5px;
}

.job {
font-size: 14px;
font-weight: bold;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 0px;
}

.s4_p {
font-size: 12px;
line-height: 1.5;
padding: 5px;
}

/* GRID S4 */

.field_4 {
	display: flex;
	flex-wrap: wrap;
	background: #ffe6ac;
	margin-left: 5px;
	margin-right: 5px;
} 

.field_4 .block:nth-child(1) {
	width: calc(100%);
	order: 1;
	background: white;

  }
  .field_4 .block:nth-child(2) {
	width: calc(50%);
	height: 100%;
	order: 2 ;
  }
  .field_4 .block:nth-child(3) {
	width: calc(50%);
	height: 100%;
	order: 2;

  }
  .field_4 .block:nth-child(4) {
	width: calc(50%);
	height: 100%;
	order: 3;

  }
  .field_4 .block:nth-child(5) {
	width: calc(50%);
	height: 100%;
	order: 2;
  }
	


/* styling for section 5 */
/* CONTACT US */
.section_5 {
background: white;
margin-left: 80px;
margin-right: 80px;
padding-bottom: 20px;
padding: 10px;
}

.s5_h2 {
font-size: 40px;
font-weight: bolder;
padding-left: 5px;
padding-top: 70px;
padding-bottom: 10px;
}

.section_5 h3 {
font-size: 25px;
font-weight: bold;
padding-left: 5px;
padding-top: 40px;
padding-bottom: 15px;
}

.s5_l {
font-size: 12px;
line-height: 2;
}

.s5_ti {
width: 95%;
}

.s5_m {
height: 200px;
width: 95%;
}

.section_5 .s5_button {
background-color: #222;
border: 2px solid #c78c06;
color: #c78c06;
padding: 5px 5px;
text-align: center;
text-decoration: none;
font-size: 16px;
margin: 20px 2px;
}

.section_5 table {
width: 100%;

}

.s5_table {
border-collapse: collapse;
border: 1px solid black;
padding: 15px;
margin: 10px;

}

.s5_th {
background: #ffe6ac;
border-collapse: collapse;
border: 1px solid black;
padding: 15px;
margin: 10px;
}

.s5_map {
width: 100%;
}

/* GRID S5 */

.field_5 {
	display: flex;
	flex-wrap: wrap;

} 

.field_5 .block:nth-child(1) {
	width: calc(100%);
	order: 1;
	background: white;
	
  }
  .field_5 .block:nth-child(2) {
	width: calc(50%);
	height: 100%;
	order: 1;
  }
  .field_5 .block:nth-child(3) {
	width: calc(100%);
	height: 100%;
	order: 2;

  }
  .field_5 .block:nth-child(4) {
	width: calc(50%);
	height: 100%;
	order: 1;

  }


/* styling for footer */
footer {
background-color: black;
color: #c78c06;
}

.footer_p {
font-size: 12px;
padding-top: 25px;
padding-bottom: 15px;
padding-left: 15px;
padding-left: 80px;
padding-right: 80px;
}

}

/* mobile */

@media screen and (max-width:760px) {
	html {
		background: white;
		font-family: 'Open Sans', sans-serif;
	}

/* styling for navbar */
/* mobile */

	.navbar .nav {
		background: black;
	}

	.nav .nav_img {
		background-color: #c78c06;
		padding-top: 15px;
	}

	.navbar .nav_h {
		background-color: #c78c06;
		text-decoration: none;
		display: inline-block;
		padding: 20px;
		text-align: center;
		width: 100%;
		color: black;
	}

	.navbar .nav_a {
		background-color: black;
		display: inline-block;
		padding: 20px;
		text-align: center;
		width: 100%;
		color: #c78c06;
		text-decoration: none;
	}

	.navbar .nav_i {
		color: black;
		width: 85%;
		padding: 10px;
		margin-left: 15px;
		margin-bottom: 10px;
		display: inline-block;
		border: 2px solid #c78c06
	}

	.navbar .nav_s {
		color: black;
		background-color: black;
	}

	.navbar .nav_m {
		background-color: black;
		margin-left: -5px;
		padding: 6px;
		color: #c78c06;
		border: 2px solid #c78c06;
	}

	.im-magnifier {
		padding-top: 10px;
	}

/* styling for banner */
/* mobile */

	.b1_i{
		position: absolute;
		left:0px;
		width: 100%;
		z-index: -1;
		margin-top: -100px;
	}

.b1 {
	background-image: url('../../images/main-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}

	.transbox {
		background-color: rgba(0,0,0, 0.6) ;
		margin-top: 100px;
		margin-bottom: 100px;
		height: 360px;
	}


.b1 h1 {
	color: white;
	font-size: 70px;
	font-weight: bolder;
	padding: 10px;
}

.b1_p {
	color: white;
	font-size: 12px;
	line-height: 1.5;
	padding: 5px;
}

.banner_button {
	background-color: #c78c06;
	border: 1px solid #c78c06;
	color: black;
	padding: 25px 30px;
	text-align: center;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
}



/* styling for section 1 */
/* mobile */
/* ABOUT US */
.section_1 {
	background: #ffe6ac;
	padding: 10px;
}

.s1_h2 {
	font-size: 40px;
	font-weight: bolder;
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.s1_img {
	width: 100%;

}

.s1_p {
	font-size: 12px;
	line-height: 1.5;
	padding: 5px;
}

/* styling for section 2 */
/* mobile */
/* OUR SERVICES */
.section_2 {
	background: white
}

.s2_h2 {
	font-size: 40px;
	font-weight: bolder;
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.s2_img {
	width: 100%;
}

.s2_button {
	background-color: #222;
	border: none;
	color: white;
	padding: 25px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}

.section_2 i {
	padding-left: 10px;
}

.section_2 .block {
	background-color: #ffe6ac;
	margin: 15px;
}

.section_2 .s2_h2 {
	background-color: white;

}

.section_2 h3 {
	font-size: 25px;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.s2_p {
	font-size: 12px;
	line-height: 1.5;
	padding: 5px;
}

.section_2 .b {
	background-color: black;
}


/* styling for section 3 */
/* mobile */
/* OUR VISION */
.section_3{
	background-image: url('../../images/vision.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.s3_h3 {
	font-size: 25px;
	font-weight: bolder;
	padding-left: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: white;
}

.s3_p {
	font-size: 12px;
	line-height: 1.5;
	padding: 15px;
	color: white;
}

.s3_i{
	position: absolute;
	height: 300px;
	width: 100%;
	z-index: -1;
}

.s3_button {
	background-color: #222;
	border: none;
	color: white;
	padding: 25px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}

/* styling for section 4 */
/* mobile */
/* OUR TEAM */
.section_4 {
	background: white;
	margin-top: 30px;
	margin-left: 15px;
	}
	
	.s4_h2 {
	font-size: 40px;
	font-weight: bolder;
	padding-left: 5px;
	padding-bottom: 15px;
	}

.s4_img {
	width: 100%;
}

.s4_hr {
	background-color: #c78c06;
	height: 1.4px;
	border-width: 0;
}

.section_4 .s4_txt {
	background: #ffe6ac;
	margin-bottom: 10px;
	padding: 10px;
}

.section_4 h3 {
	font-size: 25px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.job {
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.s4_p {
	font-size: 12px;
	line-height: 1.5;
	padding: 5px;
}



/* styling for section 5 */
/* mobile */
/* CONTACT US */
.section_5 {
	background: white;
	margin: 15px;
}

.s5_h2 {
	font-size: 40px;
	font-weight: bolder;
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.section_5 h3 {
	font-size: 25px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.s5_l {
	font-size: 12px;
	line-height: 2;
}

.s5_ti {
	width: 100%;
}

.s5_m {
	height: 200px;
	width: 100%;
}

.section_5 .s5_button {
	background-color: #222;
	border: none;
	color: #c78c06;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin: 4px 2px;
}

.section_5 table {
	width: 100%;

}

.s5_table {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 15px;
	margin: 10px;

}

.s5_th {
	background: #ffe6ac;
	border-collapse: collapse;
	border: 1px solid black;
	padding: 15px;
	margin: 10px;
}

.s5_map {
	width: 100%;
}

/* styling for footer */
/* mobile */
footer {
	background-color: black;
	color: #c78c06;
}

.footer_p {
	font-size: 12px;
	padding-top: 25px;
	padding-bottom: 15px;
	padding-left: 15px;
}

}